{% extends 'base.html.twig' %}

{% block title %}Campagnes
{% endblock %}

{% block content_header %}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Campagnes</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Home</a>
						</li>
						<li class="breadcrumb-item active">Campagnes</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>
{% endblock %}

{% block body %}
	<div class="d-flex align-items-center justify-content-between">
		<h5 class="mt-4 mb-2">Liste des campagnes</h5>
		<a href="{{ path('app_campaign_new') }}" class="btn btn-sm btn-primary">Créer une campagne</a>
	</div>

	<div class="row">
		{% for campaign in campaigns %}
			<a href="{{ path('app_campaign_show', {'id': campaign.id}) }}" class="col-md-3 col-sm-6 col-12">
				<div class="info-box bg-info">
					<span class="info-box-icon">
						<i class="far fa-bookmark"></i>
					</span>

					<div class="info-box-content">
						<span class="info-box-text">{{ campaign.name }}</span>
						<span class="info-box-number">{{ campaign.banners|length|number_format }}</span>

						<div class="progress">
							<div class="progress-bar" style="width: {{(campaign.progressRate * 100)|number_format}}%"></div>
						</div>
						<span class="progress-description">
							{{(campaign.progressRate * 100)|number_format}}% Increase in 30 Days
						</span>
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</a>
        {% else %}
            <p class="m-auto">Aucune campagne disponible</p>
		{% endfor %}
	</div>
{% endblock %}
