<!-- SELECT2 EXAMPLE -->
{{ form_start(form, {"attr": {"class": "card card-default"}}) }}
<div class="card-header">
    <h3 class="card-title">Créer une banière</h3>
</div>
<!-- /.card-header -->
<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {"attr": {"class": "form-control", "style": "width: 100%"}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.url) }}
                {{ form_widget(form.url, {"attr": {"class": "form-control", "style": "width: 100%"}}) }}
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.image) }}
                <div class="input-group">
                    <div class="custom-file">
                        {{ form_widget(form.image, {"attr": {"class": "custom-file-input", "id": "exampleInputFile"}}) }}
                        <label class="custom-file-label" for="exampleInputFile">Choisir image</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-footer">
    <button type="submit" class="btn btn-primary">{{ button_label ?? 'Créer' }}</button>
</div>
{{ form_end(form) }}
