{% extends 'base.html.twig' %}

{% block title %}Banières
{% endblock %}

{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Banières</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_banner_index') }}">Banières</a>
                        </li>
                        <li class="breadcrumb-item active">{{ banner.name }}</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
{% endblock %}

{% block body %}
    <div
            class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <a href="" class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header text-white" style="background: url('{{ asset('uploads/banners/' ~ banner.imageUrl) }}') center center; background-size: cover">
                <h3 class="widget-user-username text-right">{{ banner.name }}</h3>
                <h5 class="widget-user-desc text-right">{{ banner.campaigns|length|number_format }}
                    impressions</h5>
            </div>
{#            <div class="widget-user-image">#}
{#                <img class="img-circle" src="{{  }}" alt="User Avatar">#}
{#            </div>#}
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">{{ banner.campaigns|length|number_format }}</h5>
                            <span class="description-text">CAMPAGNES</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">{{ banner.campaigns|length|number_format }}</h5>
                            <span class="description-text">CAMPAGNES</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                            <h5 class="description-header">{{ banner.campaigns|length|number_format }}</h5>
                            <span class="description-text">CAMPAGNES</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </a>
        <!-- /.widget-user -->

        <div class="row">
            <a href="{{ path('app_banner_edit', {'id': banner.id}) }}" class="btn btn-primary col-md-3 col-sm-6 col-12">Modifier</a>
            {{ include('banner/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
